/* Form */
.edit-room-list-form{
    background-color: #f5e2f5;
    border: 1px solid #d969dc;
    border-radius: 14px;
    padding: 0px 30px 15px 30px;
    /* Center the form vertically and horizontally */
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 10px;
    
  }
  .edit-room-list-form .edit-room-list-container {
    color: #d969dc;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 600;
  }
    .edit-room-list-form .edit-room-list-container {
    color: #d969dc;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    margin-top: 12px;
  }
    .edit-room-list-form .edit-room-list-container {
    padding: 18px 0px 0px 3px;
    border: 2px solid #d969dc;
    margin-top: 8px;
  }
  
    .edit-room-list-form .edit-room-list-container {
    margin-top: 12px;
    background-color: rgba(217, 105, 220, 0.47);
    width: 100%;
    padding: 6px 0px 6px 0px;
  } 
    .room-list-profile-details {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 2px 25px 2px 25px;
  }

    .input-label {
    color: #d969dc;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);

  }
  .form-btn {
    margin-top: 12px;
    background-color: rgba(217, 105, 220, 0.47);
    width: 100%;
    padding: 6px 0px 6px 0px;
  }

  .room-list-profile-details {
    display: flex;
    flex-wrap: wrap;
  }
  
  .room-numbers-row {
    flex: 1;
  }
  
  @media only screen and (max-width: 768px) {
    .edit-room-list-form{
        /* Adjust styles for smaller screens */
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 50px 0;
        width: 90%; /* Adjust width as needed */
        top: 100%;
      }

  }
  

.room-list-profile-details.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .room-list-profile-details .col-lg-6 {
    flex-basis: 50%;
    padding: 0 10px; /* Adjust spacing between columns */
  }

  .task-item {
    display: flex;
    align-items: center;
  }
  
  .task-text {
    margin-right: 10px; /* Space between task and buttons */
  }
  
  .task-buttons button {
    margin-right: 5px; /* Space between buttons */
  }