

.EditRoomAssignments-form {
    background-color: #f5e2f5;
    border: 1px solid #d969dc;
    border-radius: 14px;
    padding: 0px 30px 15px 30px;
    /* Center the form vertically and horizontally */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.EditRoomAssignments-title{
    color: #d969dc;
    font-weight: 500;
    font-size: 30px;
}

.EditRoomAssignments-subtitle{
    color: #d969dc;
    font-weight: 500;
    font-size: 25px;
}

.form-btn {
    margin-top: 12px;
    background-color: rgba(217, 105, 220, 0.47);
    width: 100%;
    padding: 6px 0px 6px 0px;
  }

  .RemoveRoom {
    margin-top: 12px;
    background-color: white;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 14px;
  }

  .SwitchRooms {
    margin-top: 12px;
    background-color: white;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 14px;
  }

  .SwitchLists{
    margin-top: 12px;
    background-color: white;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 14px;
  }

  .TransferRoom{
    margin-top: 12px;
    background-color: white;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 14px;
  }




@media only screen and (max-width: 768px) {
    .EditRoomAssignments-form {
      margin: 15px 0px 15px 0px;
      top: 90%;
    }
  }