.RoomAssignmentView-form {
    background-color: #f5e2f5;
    border: 1px solid #d969dc;
    border-radius: 14px;
    padding: 0px 30px 15px 30px;
    /* Center the form vertically and horizontally */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 75px;
    
  }
     .RoomAssignmentView-form .RoomAssignmentView-title {
    color: #d969dc;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 600;
  }
    .RoomAssignmentView-form .RoomAssignmentView-container {
    color: #d969dc;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    margin-top: 12px;
  }
    .RoomAssignmentView-form .RoomAssignmentView-container {
    padding: 18px 0px 0px 3px;
    border: 2px solid #d969dc;
    margin-top: 8px;
  }
  
    .RoomAssignmentView-form .RoomAssignmentView-container {
    margin-top: 12px;
    background-color: rgba(217, 105, 220, 0.47);
    width: 100%;
    padding: 6px 0px 6px 0px;
  } 
    .room-details {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 2px 25px 2px 25px;
  }

    .input-label {
    color: #d969dc;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);

  }
  .form-btn {
    margin-top: 12px;
    background-color: rgba(217, 105, 220, 0.47);
    width: 100%;
    padding: 6px 0px 6px 0px;
  }

  .task-list {
    background-color: #f5e2f5;
    border: 1px solid #d969dc;
    border-radius: 14px;
    padding: 0px 30px 15px 30px;
    /* Center the form vertically and horizontally */
  
    
  }
  
  @media only screen and (max-width: 768px) {
    .RoomAssignmentView-form {
        /* Adjust styles for smaller screens */
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 50px 0;
        width: 90%; /* Adjust width as needed */
        top: 80%;
      }

  }