.roster-edit-form {
    background-color: #f5e2f5;
    border: 1px solid #d969dc;
    border-radius: 14px;
    padding: 0px 30px 15px 30px;
    /* Center the form vertically and horizontally */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .roster-edit-form .roster-title {
    
    color: #d969dc;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 600;
  }
  .roster-edit-form .name-field {
    
    color: #d969dc;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 600;
  }
  
  .roster-edit-form .input-container .input-label {
    color: #d969dc;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    margin-top: 12px;
  }
  
  .roster-edit-form .input-container .input-field {
    padding: 18px 0px 0px 3px;
    border: 2px solid #d969dc;
    margin-top: 8px;
  }
  
  .roster-edit-form .input-container .form-btn {
    margin-top: 12px;
    background-color: rgba(217, 105, 220, 0.47);
    width: 100%;
    padding: 6px 0px 6px 0px;
  }
  
  @media only screen and (max-width: 768px) {
    .roster-edit-form {
      /* Adjust styles for smaller screens */
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 15px 0;
      width: 90%; /* Adjust width as needed */
      top: 80%;
    }
  }