.update-room-assignments .page-title {
  color: #d969dc;
  font-weight: 500;
  font-size: 20px;
}

.update-room-assignments .page-button {
  background-color: rgba(217, 105, 220, 0.47);
  padding: 6px 14px 6px 14px;
  text-decoration: none;
  font-size: 14px;
}

/* The container */
.update-room-assignments .container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.update-room-assignments .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.update-room-assignments .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  /* background-color: #eee; */
  background-color: rgba(217, 105, 220, 0.47);
  border: 2px solid red;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.update-room-assignments .container:hover input ~ .checkmark {
  /* background-color: #ccc; */
}

/* When the radio button is checked, add a blue background */
.update-room-assignments .container input:checked ~ .checkmark {
  border: none;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.update-room-assignments .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.update-room-assignments .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.update-room-assignments .container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.update-room-assignments .radio-container {
  padding: 30px 0px 0px 15px;
}

.update-room-assignments .radio-title {
  margin: 0px 0px 0px 0px;
  font-size: 14px;
  color: black;
}

.update-room-assignments .col-one-container {
  margin: -8px 0px 40px 0px;
}
.update-room-assignments .col-two-container {
  margin: -8px 0px 40px 0px;
}

.update-room-assignments .change-rooms {
  display: flex;
  align-items: flex-end;
}
.update-room-assignments .change-rooms button {
  background-color: rgba(217, 105, 220, 0.47);
  font-size: 14px;
  border-radius: 6px;
  padding: 4px 8px 4px 8px;
  margin-bottom: 12px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
  .update-room-assignments .radio-title {
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .update-room-assignments .page-title {
    color: #d969dc;
    font-weight: 500;
    font-size: 14px;
  }

  .update-room-assignments .page-button {
    background-color: rgba(217, 105, 220, 0.47);
    padding: 4px 8px 4px 8px;
    font-size: 12px;
    text-decoration: none;
  }

  .update-room-assignments .col-one-container {
    margin: 8px 0px 0px 0px;
  }
  .update-room-assignments .col-two-container {
    margin: 8px 0px 0px 0px;
  }
  .update-room-assignments .col-three-container {
    margin: 8px 0px 0px 0px;
  }
  .update-room-assignments .col-four-container {
    margin: 8px 0px 0px 0px;
  }

  .update-room-assignments .change-rooms button {
    margin: 8px 0px 0px 0px;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}
